<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Note 1:</strong>
    <%= group.note_1 %>
  </p>

  <p>
    <strong>Auto draft complete:</strong>
    <%= group.auto_draft_complete %>
  </p>

  <p>
    <strong>Live draft start:</strong>
    <%= group.live_draft_start %>
  </p>

  <p>
    <strong>Auto draft start:</strong>
    <%= group.auto_draft_start %>
  </p>

  <p>
    <strong>Live draft complete:</strong>
    <%= group.live_draft_complete %>
  </p>

  <p>
    <strong>Draft order 1:</strong>
    <%= group.draft_order_1 %>
  </p>

  <p>
    <strong>Draft order 2:</strong>
    <%= group.draft_order_2 %>
  </p>

  <p>
    <strong>Draft order 3:</strong>
    <%= group.draft_order_3 %>
  </p>

  <p>
    <strong>Draft order 4:</strong>
    <%= group.draft_order_4 %>
  </p>

</div>
