   <% group = Group.find_by(id: params['group_id']) %>
   <% group_members = GroupMember.where(group_id: group.id).pluck(:user_id) %>
   <%# member_1 = User.find_by(id: draft_order[0]) %>
   <% member_1 = User.find_by(id: group.draft_order_1) %>
   <% member_2 = User.find_by(id: group.draft_order_2) %>
   <% member_3 = User.find_by(id: group.draft_order_3) %>
   <% member_4 = User.find_by(id: group.draft_order_4) %>
   <% picks = Pick.where(group_id: group.id).pluck(:school_id) %>
   <% all_seeds = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16] %>
   <% @total_draft %>
   <% Pick.where(group_id: group.id).count %>
	<% @total_draft[Pick.where(group_id: group.id).count] %>
	<% pick_id = @total_draft[Pick.where(group_id: group.id).count] %>
	<% if Pick.where(group_id: group.id).count == 64 %>
		<% Group.where(id: group.id).update_al live_draft_complete: true %>
	<% end %>

	<% total_picks_made = Pick.where(group_id: group.id).count %>
	<% schools_picked = Pick.where(group_id: group.id).pluck(:school_id) %>
	<% next_pick = @total_draft[total_picks_made] %>


<div class="card">
	<div class="card-body">
		<h2>Live Draft</h2>
		<p><span class="fw-bold">Group:</span> <%= group.name %></p>
		<!-- <p><span class="fw-bold">Details:</span> <%= group.note_1 %></p> -->
		<!-- <p><span class="fw-bold">Snake draft order:</span><br> 1. <%= member_1.email.titlecase %><br>2. <%= member_2.email.titlecase %><br>3. <%= member_3.email.titlecase %><br>4. <%= member_4.email.titlecase %></p>	 -->
		<!-- <p><span class="fw-bold">Total picks made:</span> <%= total_picks_made %></p> -->
			<% if Pick.where(group_id: group.id).count == 64 %>
				<h3 class="text-center">Draft is over </h3>
				<span class="text-center"><%= link_to 'View teams', group_path(id: group.id), class: 'btn btn-success' %></span>
			<% else %>
				<p>
					<% if pick_id == current_user.id %> 
						<span class="fw-bold text-success text-center"><big>Your Pick!</big></span>
					<% else %>
						<span class="fw-bold">Picking:</span> <span class="fw-bold text-success"><%= User.find_by(id: pick_id).email.titlecase %></span>
					<% end %>
					<br><span class="">Pick <%= total_picks_made + 2 %>:</span> <%= User.find_by(id: @total_draft[total_picks_made + 1]).email.titlecase %>
					<br><span class="">Pick: <%= total_picks_made + 3 %>:</span> <%= User.find_by(id: @total_draft[total_picks_made + 2]).email.titlecase %>
					<br><span class="">Pick: <%= total_picks_made + 4 %>:</span> <%= User.find_by(id: @total_draft[total_picks_made + 3]).email.titlecase %>
				</p>
			<% end %>
		<div class="pb-3"><%= link_to 'View selections', group_path(id: group.id), class: 'btn btn-outline-primary' %></div>
				<table class="table border table-hover">
					<thead class="table-light">
						<tr>
							<th>Seed</th>
							<th>School</th>
							<th>Region</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% School.where.not(id: schools_picked).all.order(:seed).order(:region).each do |s| %>
						<tr>
							<td><%= s.seed %></td>
							<td><%= s.name %></td>
							<td><%= s.region %></td>
							<% if picks.include? s.id %>
							<td><a href="#" class="btn btn-outline-primary form-control btn-sm disabled" role="button" aria-disabled="true"><%= User.where(id: (Pick.where(group_id: group.id, school_id: s.id).pluck(:user_id)[0])).pluck(:email)[0].titlecase %></a></td>
			
							<% elsif current_user.id == pick_id %>
							<td><%= link_to  'Draft', picks_path(draft: 'live', user_id: current_user.id, group_id: group.id, school_id: s.id), class: 'btn btn-outline-success form-control btn-sm' %></td>						
							<% else %>
							<td><a href="#" class="btn btn-outline-secondary form-control btn-sm disabled" role="button" aria-disabled="true">Draft</a></td>
							<% end %>
						</tr>
						<% end %>
					</tbody>
				</table> 
	</div>
</div>


<%# if current_user.id == @total_draft[total_picks_made + 1] %>
    <script>
	   setTimeout(function(){
	       location.reload();
	   },9000); // 3000 milliseconds means 3 seconds.
   </script>
 <%# end %>